.post-form{
}

.post-form-wrapper{
    width: 100%;
    padding: 0 1rem;

    display: flex;
    flex-direction: row;
    
}

.user-name{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* padding: 5px; */
}

.display-userName {
  aspect-ratio: 1;
  width: 2.5rem;
  border-radius: 50%;
  background: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


.post-form-content{
    height: 100%;
    flex: 9;

    display: flex;
    flex-direction: column;
}

.post-form-input {
  min-height: 5vh;
  height: 100%;
   /* Ensure it can scale with parent */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.post-form-input-container {
  margin-top: 10px;
  position: relative;
  width: fit-content;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-area {
  max-height: 300px;
  max-width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.input-area {
  flex: 1;
  width: 100%; 
  padding: 0 1rem;
  /* min-height: 5vh; */

  vertical-align: middle;
  line-height: 1.5rem;

  background-color: transparent;
  color: var(--color-background-word);
  overflow-wrap: break-word;

  border: 0;

  font-family: var(--font-poppins);
  font-size: medium;
  color: var(--font-color-white);

  resize: none;
  overflow-y: visible;
  

  &:focus {
    border: 0;
    outline: 0;
  }
}


.post-form-control {
    min-height: 3vh;

    padding: .5rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: .1px solid var(--color-border-white);
}

.form-icon {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.icon-btn {
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
    background-color: transparent;
    border: 0;
    border-radius: 50%;

    height: 100%;
    max-width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;


    /* height: 100%;
    width: 100%; */


    &:hover{
    background-color: rgb(143, 137, 137);
    }
}

.icon-btn svg{
    color: var(--color-postform-icon);

    height: 100%;
    width: 50%;
}

.post-btn {
    color: var(--font-color-black);
    background-color: var(--color-postform-btn);
    font-family: var(--font-poppins);
    font-weight: 500;

    border: 0;
    padding: .5rem 2rem;
    border-radius: 4rem;
    cursor: pointer;

    &:hover{
        background-color: rgb(211, 209, 209);
    }

    &:active{
        transform: scale(0.98);
        background-color: rgb(180, 180, 180); /* slightly darker for click feedback */
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}


.removeImg{
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgb(75, 79, 83);
  padding: .5rem;
  color: white;
  border: 0;
  aspect-ratio: 1;

  &:hover{
    background-color: rgb(93, 97, 102);
  }
}