.chat-list-warpper {
  height: 100vh;
  width: 100%;
  color: white;

  display: flex;
  flex-direction: column;
}
  
  /* Header section */
.chat-list-items {
  flex-shrink: 0;
  width: 100%;
  color: white;
  margin-top: 1rem;
}
  
.chat-list-items-wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
}

/* Header title */
.header-title {
  flex: 1;
  display: flex;
  align-items: center;
}

/* Header button */
#header-button {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}


/* User list that expands */
.user-list {
  flex: 1;
  width: 100%;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: .5em 0;
}

/* Each user entry */
.chat-list-user-info {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  /* padding: 0 1rem; */
}
  
.chat-list-img {
  width: 15%;
  height: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 5px;

}
  
.chat-list-img img {
  height: 3em;
  width: 3em;
  clip-path: circle(40%);

  object-fit: cover;
}

.chat-list-img span {
  height: 3em;
  width: 3em;
  
  border-radius: 100%;
  background-color: silver;
  font-size: 1em;
  
  display: flex;
  justify-content: center;
  align-items: center
}

.user-info {
  flex: 1;
  width: 85%;

  display: flex;
  flex-direction: column;
  
}

.user-info-display {
  display: inline;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.displayName {
    font-size: 1em;
    font-family: var(--font-inter);
    font-weight: 400;
}

.email {
  margin-left: 5px;
  font-size: .6em;
  font-family: var(--font-inter);
}
  
.user-info-message {
  overflow: hidden;
  height: 50%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-info-message p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: var(--font-poppins);
  font-weight: 200;
  font-size: 1em;
}
  

.users-list-items {
  flex-shrink: 0;
  width: 100%;
  color: white;
  padding: 1rem;

  cursor: pointer;

  &:hover {
    background-color: var(--color-background-lighter);
  }
}
  
